@use "../styles/variables" as *;

.body {
  min-height: 100vh;
  background: $background;
  color: $foreground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  min-height: 100vh;
}
